#page-not-found-main{
    height: 80vh !important;
    margin-bottom: -20vh;
}

#page-not-found-header{
    display: block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 2vh;
    width: 100vw;
    color: #cd2653;
}

#return-home-button-wrapper{
    display: block;
}

#return-home-button{
    display: flex;
    width: 225px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#return-home-button:hover{
    cursor:pointer;
    transform:scale(1.1);
    transition: all .25s ease-in;
}

@media only screen and (max-width: 900px){
  
    #back-to-top-link{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}