body{
    font-family: Inter, sans-serif;
    color: #0f1111;  
    overflow-x: hidden;
    overflow-y:auto;
    min-width: 120vw;
    display: inline-block;
 }
 
 header h1{
     font-size: 50px;
     display: inline-block;
     margin-left: 3vw;
     font-weight: 500;
 }
 
 header h2{
     font-size: 26px;
     display: inline-block;
     margin-left: 2vw;
     font-weight: 500;
 }
  
 nav a{
     display: inline-block;
     color: #cd2653;
     text-decoration: none;
     font-size: 24px;
     padding: 7px;
     transform: translateY(-5px);
 }
 
 nav a:hover{
     text-decoration: underline;
 }
 
 #main-site-header{
     display: inline-block;
 }
 
 #site-navbar{
     display: inline-block;
     margin-left: 15vw;
 }

 #content-wrapper{
     min-height: 80vh !important;
 }
 
 .main{
     justify-content: center;
     display: block;
     min-height: 84.4vh;
     width: 100vw;
 }

#main-body-header{
    display: block;
    margin-top: -5px;
    font-size: 3rem;
    font-weight: 500;
    height: 7vh;
    width: 100vw;
    text-align: center;
}

#main-col-wrapper{
    display: flex;
    width: 100vw;
    min-height: 52.5vh;
  
}
 
#fp-main-col-left{
    display: flex;
    min-width: 30vw;
    min-height: 52.5vh;
    margin-right: 10px;
    justify-content: center;
}

#profile-pic{
    display: block;
    border-radius: 9999px;
    min-width: 290px;
    height: 308px;
    margin-left: 10vw;
    margin-right: 1vw;
}

#fp-main-col-right{
    display: inline-block;
    min-width: 70vw;
    min-height: 52.5vh;
}

#bio-part-1{
    display: block;
    width: 579px;
    line-height: 31px;
    font-size: 21px;
    font-family: Hoefler Text;
    margin-left: 1vw;
}

#bio-part-2{
    display: block;
    width: 579px;
    line-height: 31px;
    font-size: 21px;
    font-family: Hoefler Text;
    margin-left: 1vw;
}

#buttons-wrapper{
    display: flex;
    width: 100vw;
    min-height: 12vh;
    justify-content: center;
}

#review-projects-button{
    display: flex;
    width: 225px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
}

#see-resume-button{
    margin-left: 10px;
    display: flex;
    width: 225px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
}

#review-projects-button:hover, #see-resume-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .25s ease-in;
}

.inner-button-link{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#social-icons-wrapper{
    display: flex;
    justify-content: center;
    min-height: 5vh;
    padding-top: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.social-icon:hover{
    transform: scale(1.1);
}

.social-icon{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}

 footer{
     display: flex;
     min-width: 100%;
     margin-left: -10px;
     margin-right: 0;
     margin-bottom: -10px;
     background: #cd2653;
     height: 20vh;
 }
 
 
 #main-footer-wrapper{
     display: flex;
     color: #fff;
     align-self: center;
     font-size: 18px;
 }
 
 #copyright-details{
     display: inline block;
     color: #fff;
     margin-left: 4vw;
     width: 88vw;
 }

 #back-to-top-link{
    display: inline-block;
    min-width: 20vw;
    margin-right: 15px;;
 }
 
 #back-to-top-link:hover{
     cursor: pointer;
     text-decoration: underline;
 }

@media only screen and (max-width: 1050px){
    #main-col-wrapper{
        display: block;
    }
    #fp-main-col-left{
        display: flex;
        margin-bottom: 0;
        min-height: 20vh;
    }

    #fp-main-col-right{
        margin-left: 25%;
        margin-right: 25%;
        min-height: 35vh;
    }


}

@media only screen and (max-width: 900px){
    #main-footer-wrapper{
        display: block;
    }

}