.netflix-header{
    display: inline-block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -1rem;
    width: 100vw;
    height: 7vh;
}

#netflix-main p{
    font-family: Hoefler Text, sans-serif;
    display: block;
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin-left: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.netflix-link{
    color: #cd2653;
    text-decoration: none;
}

.netflix-link:hover{
    text-decoration: underline;
}

#netflix-main figcaption{
    color: #cd2653;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

#netflix-main img {
    display: block;
    width: 580px;
    height: 392px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1600px){
    #site-navbar{
        position: absolute;
        top: 2.1%;
        right: 2%;
    }
}

@media only screen and (max-width: 900px){
  
    #back-to-top-link{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px){

    .netflix-header{
        font-size: 2.8rem;
        margin-top: 3vh;
    }

    #netflix-main p{
        width: 90vw; 
    }

    #netflix-main img{
        width: 80vw;
        height: auto;
    }
}