body{
    font-family: Inter, sans-serif;
    color: #0f1111;  
    overflow-x: hidden;
    overflow-y:auto;
    margin: 0;
    display: inline-block;
    position: relative;
    max-width: 100%
}

html{
    overflow-x: hidden;
    margin: 0;
    max-width: 100%;
}

#projects-main{
    display: block;
    width: 100vw;
}


#projects-header{
    display: inline-block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: -1rem;
    width: 100vw;
    height: 7vh;
}

.project h2{
    display: block;
    font-size: 2rem;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #cd2653;
    text-align: center;
    width: 100vw;
}

.project{
    display: block;
    width: 100vw;
}

.project-subheader{
    display: block;
    width: 100vw;
}

.projects-divider-left{
    display: inline-block;
    width: 46vw;
    height: 1px;
    border: none;
    border-top: 1px solid #6d6d6d;
    background-color: transparent;
    margin-left: 2%;
    margin-right: 0%;
}

.projects-divider-right{
    display: inline-block;
    width: 46vw;
    height: 1px;
    border: none;
    border-top: 1px solid #6d6d6d;
    background-color: transparent;
    margin-left: .5%;
    margin-right: 2%;
}

.project-divider-wrapper{
    display: flex;
}

.divider-accent-left{
    display: inline-block;
    height: 1rem;
    background-color: #6d6d6d;
    border: none;
    border-top: 1px solid #6d6d6d;
    width: .08rem;
    transform: rotate(22.5deg) translateY(-1.2vh);
    margin-left: .5%; 
    margin-right: .25%;
}

.divider-accent-right{
    display: inline-block;
    height: 1rem;
    background-color: #6d6d6d;
    border: none;
    border-top: 1px solid #6d6d6d;
    width: .08rem;
    transform: rotate(22.5deg) translateY(-1.2vh);
    margin-left: .5%;
    margin-right: .5%; 
}

@media only screen and (max-width: 767px){
    .divider-accent-right{
        margin-right: 2%; 
    }
}