#projects-main{
    font-family: Hoefler Text, sans-serif;
    height: 250vh;
    width: 100vw;
    display: block;

}

#projects-header{
    display: block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -10px;
}

.project h2{
    font-size: 2rem;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #cd2653;
    text-align: center;
}

.projects-divider{
    width: 90vw;
    height: .1rem;
    background-color: transparent;
}