#resume-main{
    font-family: Hoefler Text, sans-serif;
    height: 260vh;
}

#resume-header{
    display: block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -10px;
}

#resume-wrapper h2{
    display: block;
    font-family: Inter;
    font-size: 3rem;
    margin-left: 3vw;
    color: #cd2653;
}

#resume-wrapper span{
    display: block;
    font-size: 1.35rem;
    line-height: 2.1rem;
    margin-left: 3vw;
}

#resume-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 200vh;
    box-sizing: border-box;
}

#resume-description{
    font-style: italic;
    width: 40vw;
}

#skills{
    width: 42vw;
}

#work-experience-wrapper{
    display: block;
}

.work-experience-subheader{
    font-size: 1.35rem;
    font-weight: 600;
    margin-left: 3vw;
    margin-bottom: 1vh;
}

.work-experience-content{
    display: block;
    margin-left: -10vw;
}

#education-space{
    display: block;
    margin-bottom: 3vh;
}

#resume-button-wrapper{
    display: block;
    width: 100vw;
    height: 20vh;
    margin-top: 5vh;
    margin-left: 18vw;
    font-size: 1.1rem;
    font-family: Inter, sans-serif;
}

#view-resume-pdf-button{
    display: flex;
    width: 120px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
    margin-bottom: 5vh;
}

#view-resume-pdf-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .25s ease-in;
}

@media only screen and (max-width: 767px){
    #resume-wrapper{
        width: 100vw;
        padding-right: 5vw;
    }

    #resume-description{
        width: 100vw;
    }

    #skills{
        width: 100vw;
    }

    #resume-main{
        height: 400vh;
    }

    #view-resume-pdf-button{
        margin-left: 9vw;
    }
}