#writing-main{
    font-family: Hoefler Text, sans-serif;
    height: 100vh;
}

#writing-header{
    display: block;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -10px;
}

#writing-main p{
    font-size: 1.4rem;
    line-height: 2rem;
    width: 43vw;
    margin-left: auto;
    margin-right: auto;
}

.writing-link{
    color: #cd2653;
    text-decoration: none;
}

.writing-link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 1600px){
    #site-navbar{
        position: absolute;
        top: 3.3%;
        right: 2%;
    }

    html{
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 900px){
  
    #back-to-top-link{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px){
    #writing-main p{
        width: 90vw;
    }
    #writing-main{
        height: 100vh;
    }
    #popout-nav-menu{
        transform: translateY(1em)
    }
}