body{
    font-family: Inter, sans-serif;
    color: #0f1111;  
    overflow-x: hidden;
    overflow-y:auto;
 }
 
 header h1{
     font-size: 50px;
     display: inline-block;
     margin-left: 3vw;
     font-weight: 500;
 }
 
 header h2{
     font-size: 26px;
     display: inline-block;
     margin-left: 2vw;
     font-weight: 500;
 }
 
 nav{
     margin-left: 15vw;
 }
 
 nav a{
     display: inline-block;
     color: #cd2653;
     text-decoration: none;
     font-size: 24px;
     padding: 7px;
     transform: translateY(-5px);
 }
 
 nav a:hover{
     text-decoration: underline;
 }
 
 #main-site-header{
     display: inline-block;
 }
 
 #site-navbar{
     display: inline-block;
 }

 #content-wrapper{
     min-height: 80vh !important;
 }
 
 #main{
     justify-content: center;
     display: block;
     min-height: 84.4vh;
     width: 100vw;
 }

#main-body-header{
    display: block;
    margin-top: -5px;
    font-size: 3rem;
    font-weight: 500;
    height: 7vh;
    width: 100vw;
    text-align: center;
}

#main-col-wrapper{
    display: flex;
    width: 100vw;
    height: 52.5vh;
  
}
 
#fp-main-col-left{

    width: 30vw;
    height: 52.5vh;
}

#profile-pic{
    border-radius: 9999px;
    width: 290px;
    height: 308px;
    margin-left: 10vw;
}

#fp-main-col-right{

    width: 70vw;
    height: 52.5vh;
}

#bio-part-1{
    width: 579px;
    line-height: 31px;
    font-size: 21px;
    font-family: Hoefler Text;
    margin-left: 1vw;
}

#bio-part-2{
    width: 579px;
    line-height: 31px;
    font-size: 21px;
    font-family: Hoefler Text;
    margin-left: 1vw;
}

#buttons-wrapper{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
}

#review-projects-button{
    display: flex;
    width: 225px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
}

#see-resume-button{
    margin-left: 10px;
    display: flex;
    width: 225px;
    height: 58px;
    background-color:#e22658;
    border-radius: 100px;
    align-items: center;
}

#review-projects-button:hover, #see-resume-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .25s ease-in;
}

.inner-button-link{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#social-icons-wrapper{
    display: flex;
    justify-content: center;
}

.social-icon:hover{
    transform: scale(1.1);
}

.social-icon{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}

 footer{
     display: flex;
     width: 110%;
     margin-left: -10px;
     margin-bottom: -10px;
     background: #cd2653;
     height: 20vh;
 }
 
 
 #main-footer-wrapper{
     display: flex;
     color: #fff;
     align-self: center;
     font-size: 18px;
 }
 
 #copyright-details{
     color: #fff;
     margin-left: 4vw;
 }

 #back-to-top-link{
    margin-left: 63vw;
 }
 
 #back-to-top-link:hover{
     cursor: pointer;
     text-decoration: underline;
 }