#resume-main{
    font-family: Hoefler Text;
    height: 250vh;
}

#resume-title{
    display: block;
    font-family: Inter;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -10px;
}

#resume-wrapper h2{
    display: block;
    font-family: Inter;
    font-size: 3rem;
    margin-left: 3vw;
    color: #cd2653;
}

#resume-wrapper span{
    display: block;
    font-size: 1.35rem;
    line-height: 1.9rem;
    margin-left: 3vw;
}

#resume-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 200vh;
}

#resume-description{
    font-style: italic;
    width: 50vw;
}

#work-experience-wrapper{
    display: block;
}

.work-experience-subheader{
    font-size: 1.35rem;
    font-weight: 600;
    margin-left: 3vw;
    margin-bottom: 1vh;
}

.work-experience-content{
    display: block;
    margin-left: -10vw;
}